/* .card_style {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.single_card {S
  border: 1px solid black;
  margin: 5px;
  width: ;
} */

.element {
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.card_style {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-auto-rows: auto;
  /* grid-column-gap: 10px; */
  /* grid-row-gap: 10px; */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.single_card {
  border: 0.5px solid black;
  padding: 20px;
  margin: 10px;
  border-radius: 3%;
}
