* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main-navbar {
  width: 100%;
  height: 4rem;
  background-color: #171717;
  color: white;
  display: grid;
  grid-template-columns: 1rem 5rem 1fr 2fr 1fr 1rem;
}

/* .logonavbar {
  justify-self: center;
} */

.logoimg {
  width: 30px;
  /* justify-content: start; */
  /* justify-self: center; */
  /* align-self: center; */
  place-self: center;
  border-radius: 70%;
  grid-column: 2/3;
  height: 2rem;
}

.searchbar {
  grid-column: 3/4;
  align-self: center;

  /* background-color: transparent; */
}

/* .inputbar {
  height: 7rem;
} */

.menu-Link {
  grid-column: 4/5;
  align-self: center;
}

.menu-Link ul {
  height: 2rem;
  display: flex;
  align-items: center;
}

.menu-Link ul li a {
  color: white;
  margin: 10px;
}

.notification-bar {
  grid-column: 5/6;
  align-self: center;
  display: flex;
  justify-self: end;
}

.mobileview {
  display: none;
}
.mobileviewNotification {
  display: none;
}

.mobile-menu-Link {
  display: none;
}

.toggle-mobile-menu {
  display: none;
}

@media screen and (max-width: 750px) {
  .menu-Link {
    display: none;
  }
  .searchbar {
    display: none;
  }

  .notification-bar {
    display: none;
  }

  .main-navbar {
    /* background-color: violet; */
    display: grid;
    grid-template-columns: 1rem 1fr 1fr 1fr 1rem;
  }

  .logoimg {
    grid-column: 3/4;
    place-self: center;
    /* grid-row: 1/2; */
  }

  .mobileview {
    display: block;
    grid-column: 2/3;
    align-self: center;
    grid-row: 1/2;
  }

  .mobileviewNotification {
    display: block;
    grid-column: 4/5;
    align-self: center;
    justify-self: end;
    grid-row: 1/2;
  }

  .toggle-mobile-menu {
    display: none;
  }

  .mobile-menu-Link {
    position: relative;
    z-index: 99px;
  }
  .mobile-menu-Link {
    background-color: #171717;
    height: 20rem;
    display: grid;
    grid-column: 1/6;
    align-items: center;
    padding-left: 1rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .mobile-menu-Link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
  }

  .mobile-menu-Link ul li:first-child {
    transition-delay: 0.2s;
  }

  .mobile-menu-Link li {
    width: 100%;
    border-top: 1px solid white;
    padding: 5px;
  }

  .mobile-menu-Link a {
    color: white;
  }
}
